# system files
*.DS_Store
*.ini
*~
~$*

# text editors
*.vscode/*
*.idea/*
*.vs

# preprocessing, object, assembly, prerequisites, debug
*.[iosd]
*.ii
*.lo
*.slo
*.obj
*.dSYM

# precompiled headers
*.[gp]ch

# static libs
*.a
*.la
*.lai
*.lib

# dynamic libs
*.so
*.dll
*.dylib

# executables
*.out
*.exe
*.app
